<%= form_for @script do |f| -%>

  <div class="form form_settings">

    <div class="form__field line">
      <div class="form__left"><label class="b-label">Имя сценария</label></div>
      <div class="form__right">
        <div class="b-input-i">
          <%= f.text_field :name, class: 'b-input' %>
        </div>
      </div>
    </div>

    <div class="form__field line">
      <div class="te">Если </div>
      <div class="btn_sel_box ch">
        <% dev = '' %>
        <% id = '' %>
        <% dev = 'camera' if @script.if_camera_id %>
        <% id  = @script.if_camera_id if @script.if_camera_id %>
        <% dev = 'outlet' if @script.if_outlet_id %>
        <% id  = @script.if_outlet_id if @script.if_outlet_id %>
        <% dev = 'sensor' if @script.if_sensor_id %>
        <% id  = @script.if_sensor_id if @script.if_sensor_id %>
        <input class="type" type="hidden" name="if_device_type" value="<%= dev %>" />
        <input class="id"  type="hidden" name="if_id" value="<%= id %>" />
        <div class="btn btn_menu">
          <div class="label"><div class="label_content">Устройство</div> <img src="/assets/str.png" alt="" class="str" /></div>
        </div>
        <div class="content">
          <% @user.cams.each do |c| %>
            <div class="option" value="<%= c.id %>" rel="camera"><img src="/assets/d_c.png" alt="" /> <%= c.name %></div>
          <% end %>
          <% @user.sensors.each do |s| %>
            <div class="option" value="<%= s.id %>" rel="sensor"><img src="/assets/d_s.png" alt="" /><%= s.name %></div>
          <% end %>
        </div>
      </div>
      <div class="te"> выполняет </div>
      <div class="btn_sel_box">
        <input class="id"  type="hidden" name="script[if_action_id]" value="<%= @script.if_action_id %>" />
        <div class="btn btn_menu">
          <div class="label"><div class="label_content">Условие</div> <img src="/assets/str.png" alt="" class="str" /></div>
        </div>
        <div class="content">
          <% Action.if.each do |a| %>
            <div class="option" value="<%= a.id %>" rel="<%= a.device %>"><%= a.name %></div>
          <% end %>
        </div>
      </div>
      <div class="te">, тогда</div>
    </div>

    <div class="form__field line">
      <div class="te">&nbsp;</div>
      <div class="btn_sel_box ch">
        <% dev = '' %>
        <% id = '' %>
        <% dev = 'camera' if @script.then_camera_id %>
        <% id  = @script.then_camera_id if @script.then_camera_id %>
        <% dev = 'outlet' if @script.then_outlet_id %>
        <% id  = @script.then_outlet_id if @script.then_outlet_id %>
        <% dev = 'sensor' if @script.then_sensor_id %>
        <% id  = @script.then_sensor_id if @script.then_sensor_id %>
        <input class="type" type="hidden" name="then_device_type" value="<%= dev %>" />
        <input class="id"  type="hidden" name="then_id" value="<%= id %>" />
        <div class="btn btn_menu">
          <div class="label"><div class="label_content">Устройство</div> <img src="/assets/str.png" alt="" class="str" /></div>
        </div>
        <div class="content">
          <% @user.cams.each do |c| %>
            <div class="option" value="<%= c.id %>" rel="camera"><img src="/assets/d_c.png" alt="" /> <%= c.name %></div>
          <% end %>
          <% @user.outlets.each do |o| %>
            <div class="option" value="<%= o.id %>" rel="outlet"><img src="/assets/d_o.png" alt="" /><%= o.name %></div>
          <% end %>
        </div>
      </div>
      <div class="te">выполняет</div>
      <div class="btn_sel_box">
        <input class="id"  type="hidden" name="script[then_action_id]" value="<%= @script.then_action_id %>" />
        <div class="btn btn_menu">
          <div class="label"><div class="label_content">Действие</div> <img src="/assets/str.png" alt="" class="str" /></div>
        </div>
        <div class="content">
          <% Action.then.each do |a| %>
            <div class="option" value="<%= a.id %>" rel="<%= a.device %>"><%= a.name %></div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="form__field line">
      <div class="form__left"><label class="b-label">Сообщить</label></div>
      <div class="form__right">
        <div class="b-input-i checks_juicy">
          <%= f.check_box :sms %> по SMS; 
          <%= f.check_box :email %> по E-mail.
        </div>
      </div>
    </div>

    <div class="control__action">
      <%= f.submit "Сохранить", class: 'btn btn_menu btn_green' %>
    </div>

  </div>

<% end -%>