<% mini ||= '' %>

<div class="block-video block-script-wrap <%= mini %>">
  <div class="block-script">
    <div class="line">
    Eсли 
    <% if script.if_camera_id %>
      <img src="/assets/d_c.png" alt="" /> <%= Camera.find(script.if_camera_id).name %>
    <% end %>
    <% if script.if_outlet_id %>
      <img src="/assets/d_o.png" alt="" /> <%= Outlet.find(script.if_outlet_id).name %>
    <% end %>
    <% if script.if_sensor_id %>
      <img src="/assets/d_s.png" alt="" /> <%= Sensor.find(script.if_sensor_id).name %>
    <% end %>
    <% action = Action.find_by_id(script.if_action_id) %>
    <%= action.text if action  %>,
    </div>
    <div class="line">
    тогда 
    <% if script.then_camera_id %>
      <img src="/assets/d_c.png" alt="" /> <%= Camera.find(script.then_camera_id).name %>
    <% end %>
    <% if script.then_outlet_id %>
      <img src="/assets/d_o.png" alt="" /> <%= Outlet.find(script.then_outlet_id).name %>
    <% end %>
    <% if script.then_sensor_id %>
      <img src="/assets/d_s.png" alt="" /> <%= Sensor.find(script.then_sensor_id).name %>
    <% end %>
    <% action = Action.find_by_id(script.then_action_id) %>
    <%= action.text if action %>
    </div>

  </div>
  <div class="block-info">
    <a class="b-link b-link_turnoff" href="<%= script_url(script) %>"><i class="ico ico_type_turnoff"></i></a>
    <span class="block-info-text"><strong><%= script.name %></strong><span class="razr"></span></span>
  </div>
</div>