<% if @scripts.count > 0 %>
  <% @scripts.each do |script| %>
    <%= render :partial => 'script', :locals => {:script => script} %>
  <% end %>
<% else %>
  Вы не добавили ни одного сценария. <%= link_to "Добавить?", new_script_url %>
<% end %>


