$('#sms_authorization_code').removeClass('error');
$('p.error_description').remove();

<% if login? %>

  location.href = '<%= root_url %>';

<% else %>

  $('<p class="error_description">код неверен</p>').insertAfter('#sms_authorization_code');
  $('#sms_authorization_code').addClass('error');

<% end %>