<% if login? %>

  location.href = '<%= root_url %>';

<% else %>

  $('p.error_description').remove();
  $('.user_form .error').removeClass('error');
  <% @user.errors.messages.each do |error| %>
    $('#user_<%= error[0] %>').addClass('error');
    $('<p class="error_description"><%= error[1][0] %></p>').insertAfter('#user_<%= error[0] %>');
  <% end %>

<% end %>
