<% if session[:sms_authorization] %>

  location.href = '<%= sms_authorization_url %>';

<% else %>

  $('#email').removeClass('error');
  $('#password').removeClass('error');
  $('p.error_description').remove();
  
  <% if login? %>
  
    location.href = '<%= root_url %>';
  
  <% else %>
  
    $('<p class="error_description">логин или пароль неверен</p>').insertAfter('#email');
    $('#email').addClass('error');
    $('#password').addClass('error');
  
  <% end %>

<% end %>