<div class="menu">
  <a href="<%= user_url %>" class="btn btn_menu">Информация</a>
  <a href="<%= secure_url %>" class="btn btn_menu">Безопасность</a>
  <a href="<%= user_phone_url %>" class="btn btn_menu">Телефон</a>
</div>


<%= form_for @user, url: user_put_url, remote: true do |f| -%>
  
<div class="form form_settings">

  <!--<div class="form__field line">
    <div class="form__left"><label class="b-label">E-mail</label></div>
    <div class="form__right">
      <div class="b-input-i">
        <%= f.text_field :email, class: 'b-input' %>
      </div>
    </div>
  </div>-->

  <div class="form__field line">
    <div class="form__left"><label class="b-label">Имя</label></div>
    <div class="form__right">
      <div class="b-input-i">
        <%= f.text_field :name, class: 'b-input' %>
      </div>
    </div>
  </div>

  <div class="form__field line">
    <div class="form__left"><label class="b-label">Фамилия</label></div>
    <div class="form__right">
      <div class="b-input-i">
        <%= f.text_field :surname, class: 'b-input' %>
      </div>
    </div>
  </div>

  <div class="control__action">
    <%= f.submit "Сохранить изменения", class: 'btn btn_menu btn_green' %>
  </div>
</div>

<% end -%>