<% if @user.phone_validate %>

  location.href = '<%= user_phone_url %>'

<% else %>

  $('p.error_description').remove();
  $('.edit_user .error').removeClass('error');
  $('#user_linking_code').addClass('error');
  $('<p class="error_description">Код введен неверно</p>').insertAfter('#user_linking_code');

<% end %>