<div class="container">
  <div class="login">
    <div class="login__head">Вход в Homejet</div>
    <div class="login__body">
      <div class="form form_login">
        <%= form_tag(create_session_url, remote: true) do %>
          <div class="form__field line">
            <div class="form__left">
              <label class="b-label">Логин</label>
            </div>
            <div class="form__right">
              <div class="b-input-i b-input-icon">
                <i class="ico ico_type_user"></i>
                <%= text_field_tag :email, '', class: 'b-input' %>
              </div>
            </div>
          </div>
          <div class="form__field line">
            <div class="form__left">
              <label class="b-label">Пароль</label>
            </div>
            <div class="form__right">
              <div class="b-input-i b-input-icon">
                <i class="ico ico_type_lock"></i>
                <%= password_field_tag :password, '', class: 'b-input' %>
              </div>
            </div>
          </div>
          <div class="form__field form__field_action line">
            <div class="form__right">
              <label for="" class="b-label b-label-register"><%= link_to "Регистрация", register_url %></label>
              <%= submit_tag "Войти", class: 'btn btn_menu', disable_with: 'Logining...' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
