<div class="container">
  <div class="login register">
    <div class="login__head">Регистрация в Homejet</div>
    <div class="login__body">
      <div class="form form_login user_form">
        <%= form_for(@user, remote: true, html: { class: 'user_form' }) do |f| %>
          <div class="form__field line">
            <div class="form__left">
              <label class="b-label">Имя</label>
            </div>
            <div class="form__right">
              <div class="b-input-i">
                <%= f.text_field :name, class: 'b-input' %>
              </div>
            </div>
          </div>
          <div class="form__field line">
            <div class="form__left">
              <label class="b-label">Фамилия</label>
            </div>
            <div class="form__right">
              <div class="b-input-i">
                <%= f.text_field :surname, class: 'b-input' %>
              </div>
            </div>
          </div>
          <div class="form__field line">
            <div class="form__left">
              <label class="b-label">Email</label>
            </div>
            <div class="form__right">
              <div class="b-input-i b-input-icon">
                <i class="ico ico_type_user"></i>
                <%= f.text_field :email, class: 'b-input' %>
              </div>
            </div>
          </div>
          <div class="form__field line">
            <div class="form__left">
              <label class="b-label">Пароль</label>
            </div>
            <div class="form__right">
              <div class="b-input-i b-input-icon">
                <i class="ico ico_type_lock"></i>
                <%= f.password_field :password, class: 'b-input' %>
              </div>
            </div>
          </div>
          <div class="form__field line">
            <div class="form__left">
              <label class="b-label">Ещё раз</label>
            </div>
            <div class="form__right">
              <div class="b-input-i">
                <%= f.password_field :password_confirmation, class: 'b-input' %>
              </div>
            </div>
          </div>
          <div class="form__field form__field_action line">
            <div class="form__right">
              <label for="" class="b-label b-label-register"><%= link_to "Войти", login_url %></label>
              <%= f.submit "Зарегистрироваться", class: 'btn btn_menu', disable_with: 'Logining...' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>