<div class="menu">
  <a href="<%= user_url %>" class="btn btn_menu">Информация</a>
  <a href="<%= secure_url %>" class="btn btn_menu">Безопасность</a>
  <a href="<%= user_phone_url %>" class="btn btn_menu">Телефон</a>
</div>

<!-- Телефон пуст, валидации нет -->
<% if !@user.phone_validate && @user.phone.blank? %>

  <%= form_for @user, url: user_phone_put_url, remote: true do |f| -%>
    
  <div class="form form_settings">
  
    <div class="form__field line">
      <div class="form__left"><label class="b-label">Телефон</label></div>
      <div class="form__right">
        <div class="b-input-i">
          <%= f.text_field :phone, class: 'b-input' %>
        </div>
      </div>
    </div>
  
    <div class="control__action">
      <%= f.submit "Привязать телефон", class: 'btn btn_menu btn_green' %>
    </div>
  </div>
  
  <% end -%>

<% end %>


<!-- Телефон заполнен, валидации нет -->
<% if !@user.phone_validate && !@user.phone.blank? %>

  <%= form_for @user, url: user_linking_put_url, remote: true do |f| -%>

  <div class="form form_settings">

    <div class="form__field line">
      <div class="form__left"><label class="b-label">Код в СМС</label></div>
      <div class="form__right">
        <div class="b-input-i">
          <input type="text" name="linking_code" class="b-input" id="user_linking_code">
        </div>
      </div>
    </div>

    <div class="control__action">
      <%= f.submit "Подтвердить", class: 'btn btn_menu btn_green' %> &nbsp; <a href="<%= user_unlinking_url %>" class="btn btn_menu btn_green">Другой телефон</a>
    </div>
  </div>

  <% end -%>

<% end %>


<!-- Телефон заполнен, валидация есть -->
<% if @user.phone_validate && !@user.phone.blank? %>

  <p>Телефон привязан: <%= @user.phone %></p>

  <br /><br />

  <div class="control__action">
    <a href="<%= user_unlinking_url %>" class="btn btn_menu btn_green">Отвязать</a>
  </div>

<% end %>