<div class="menu">
  <a href="<%= user_url %>" class="btn btn_menu">Информация</a>
  <a href="<%= secure_url %>" class="btn btn_menu">Безопасность</a>
  <a href="<%= user_phone_url %>" class="btn btn_menu">Телефон</a>
</div>


<%= form_for @user, url: user_put_url, remote: true do |f| -%>

<div class="form form_settings">

  <% if !@user.phone.blank? && @user.phone_validate %>

  <div class="form__field line">
    <div class="form__left"><label class="b-label">SMS авторизация</label></div>
    <div class="form__right">
      <div class="b-input-i">
        <%= f.check_box :sms_authorization %>
      </div>
    </div>
  </div>

  <% end %>


  <div class="control__action">
    <%= f.submit "Сохранить изменения", class: 'btn btn_menu btn_green' %>
  </div>
</div>

<% end -%>