<div class="container">
  <div class="login">
    <div class="login__head">Вход в Homejet</div>
    <div class="login__body">
      <div class="form form_login">
        <%= form_tag(create_session_sms_url, remote: true) do %>
          <div class="form__field line">
            <div class="form__left">
              <label class="b-label">Код автор.</label>
            </div>
            <div class="form__right">
              <div class="b-input-i">
                <%= text_field_tag :sms_authorization_code, '', class: 'b-input' %>
              </div>
            </div>
          </div>
          <div class="form__field form__field_action line">
            <div class="form__right">
              <%= submit_tag "Войти", class: 'btn btn_menu', disable_with: 'Logining...' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
