<% if @err %>

  $('p.error_description').remove();
  $('.edit_user .error').removeClass('error');
  <% @user.errors.messages.each do |error| %>
    $('#user_<%= error[0] %>').addClass('error');
    $('<p class="error_description"><%= error[1][0] %></p>').insertAfter('#user_<%= error[0] %>');
  <% end %>

<% else %>

  location.href = '<%= user_url %>';

<% end %>
