<% mini ||= '' %>

<div class="block-video <%= mini %>">
  <div class="block-camera">
    <a class="block-video-pic" href="<%= cam_url(cam) %>"><img src="/assets/video01.jpg" alt=""></a>
    <a class="block-video-link block-video-link_small" href="<%= cam_url(cam) %>"><img  src="/assets/play.png" alt=""></a>
  </div>
  <div class="block-info">
    <a class="b-link b-link_turnoff" href="<%= edit_cam_url(cam) %>"><i class="ico ico_type_turnoff"></i></a>
    <span class="block-info-text"><strong><%= cam.name %></strong><span class="razr"></span></span>
  </div>
</div>