<div class="tabs__cnt">
  <div class="control line">
    <div class="control__left">
      <div class="control__field line">
        <div class="control__name">Датчик движения</div>
        <div class="control__flip">
          <span class="b-flip">
            <span class="b-flip__item b-flip__item_active" onclick="send({device: 'camera', id: '<%= @camera.id %>', action: 'motion_sensor_toggle'});"> <i class="ico ico_type_flip-control"></i></span>
          </span>
        </div>
      </div>
      <div class="control__field line">
        <div class="control__name">Режим горизонтального перемещения</div>
        <div class="control__flip">
          <span class="b-flip">
            <span class="b-flip__item" onclick="send({device: 'camera', id: '<%= @camera.id %>', action: 'horizontal_mode_of_travel_toggle'});"> <i class="ico ico_type_flip-control"></i></span>
          </span>
        </div>
      </div>
      <div class="control__field line">
        <div class="control__name">Режим ночного видения</div>
        <div class="control__flip">
          <span class="b-flip">
            <span class="b-flip__item" onclick="send({device: 'camera', id: '<%= @camera.id %>', action: 'night_mode_toggle'});"> <i class="ico ico_type_flip-control"></i></span>
          </span>
        </div>
        <div class="control__check">
          <label class="b-label"><input class="b-check" type="checkbox" value=""/> Авто</label>
        </div>
      </div>
      <div class="control__field line">
        <div class="control__name">Перевернутое отображение</div>
        <div class="control__flip">
          <span class="b-flip">
            <span class="b-flip__item" onclick="send({device: 'camera', id: '<%= @camera.id %>', action: 'down_reflection_toggle'});"> <i class="ico ico_type_flip-control"></i></span>
          </span>
        </div>
      </div>
      <div class="control__field line">
        <div class="control__name">Зеркальное отображение</div>
        <div class="control__flip">
          <span class="b-flip">
            <span class="b-flip__item" onclick="send({device: 'camera', id: '<%= @camera.id %>', action: 'mirroring_toggle'});"> <i class="ico ico_type_flip-control"></i></span>
          </span>
        </div>
      </div>

    </div>
    <div class="control__right">
      <div class="b-camera">
        <div class="b-camera__ttl">Поворот камеры</div>
        <div class="b-camera__body">
          <img src="/assets/camera-plug.png" alt=""/>
          <a class="beam-left beam-selected"  onclick="send({device: 'camera', id: '<%= @camera.id %>', action: 'left'});" href="#"></a>
          <a class="beam-top "                onclick="send({device: 'camera', id: '<%= @camera.id %>', action: 'top'});" href="#"></a>
          <a class="beam-right"               onclick="send({device: 'camera', id: '<%= @camera.id %>', action: 'right'});" href="#"></a>
          <a class="beam-bottom"              onclick="send({device: 'camera', id: '<%= @camera.id %>', action: 'bottom'});" href="#"></a>
          <a class="beam-center"              onclick="send({device: 'camera', id: '<%= @camera.id %>', action: 'center'});" href="#"></a>
        </div>
        <span class="btn-group">
          <a href="#" onclick="send({device: 'camera', id: '<%= @camera.id %>', action: '45left'});return false;" class="btn-group__item"><i class="ico ico_type_turn-right"></i> 45&deg;</a>
          <a href="#" onclick="send({device: 'camera', id: '<%= @camera.id %>', action: '45right'});return false;" class="btn-group__item">45&deg; <i class="ico ico_type_turn-left"></i></a>
        </span>
      </div>
    </div>

    <div class="control__action">
      <a href="#" class="btn btn_menu btn_red">Отключить камеру</a>
    </div>
  </div>
</div>