<% if @cams.count > 0 %>
  <% @cams.each do |cam| %>
    <%= render :partial => 'camera', :locals => {:cam => cam} %>
  <% end %>
<% else %>
  Вы не добавили ни одну камеру. <%= link_to "Добавить?", new_cam_url %>
<% end %>


