<div class="block-video-inner">
  <img src="/assets/video-plug.jpg" alt="">
  <a class="block-video-link" href="#"><img class="btn" src="/assets/play.png" alt=""></a>
  <a class="btn_zoom" href="#"><i class="ico ico_type_zoom"></i></a>
</div>

<div class="tabs">
  <div class="tabs__header">
    <div class="tabs__header-menu">
      <span class="tabs__header-title"><%= @camera.name %></span>
      <ul class="nav">
        <li><a href="<%= edit_cam_url(@camera) %>">Настройка</a></li>
      </ul>
    </div>
  </div>
  <%= render :partial => 'tab_show' %>
</div>