<%= form_for @outlet do |f| -%>

  <div class="form form_settings">

    <div class="form__field line">
      <div class="form__left"><label class="b-label">Имя устройства</label></div>
      <div class="form__right">
        <div class="b-input-i">
          <%= f.text_field :name, class: 'b-input' %>
        </div>
      </div>
    </div>

    <div class="control__action">
      <%= f.submit "Сохранить", class: 'btn btn_menu btn_green' %>
    </div>

  </div>

<% end -%>