<% mini ||= '' %>

<div class="block-video <%= mini %>">
  <div class="block-outlet">
    <div class="c_flip <%= 'on' if outlet.state %>" onclick="send({device: 'outlet', id: '<%= outlet.id %>', do: 'toggle_state'});">
      <div class="bgf"><div class="bg"></div></div>
      <div class="handle"></div>
    </div>
  </div>
  <div class="block-info">
    <a class="b-link b-link_turnoff" href="<%= edit_outlet_url(outlet) %>"><i class="ico ico_type_turnoff"></i></a>
    <span class="block-info-text"><strong><%= outlet.name %></strong><span class="razr"></span></span>
  </div>
</div>