<div class="tabs">
  <div class="tabs__header">
    <div class="tabs__header-menu">
      <span class="tabs__header-title"><%= @outlet.name %></span>
      <ul class="nav">
        <li class="selected"><a href="<%= edit_outlet_url(@outlet) %>">Настройка</a></li>
      </ul>
    </div>
  </div>
  <div class="tabs__cnt">
    <div class="tabs__cnt-archive">
      <%= render :partial => 'form' %>
    </div>
  </div>
</div>

