<% if @outlets.count > 0 %>
  <% @outlets.each do |outlet| %>
    <%= render :partial => 'outlet', :locals => {:outlet => outlet} %>
  <% end %>
<% else %>
  Вы не добавили ни одну розетку. <%= link_to "Добавить?", new_outlet_url %>
<% end %>


