<% mini ||= '' %>

<div class="block-video <%= mini %>">
  <div class="block-sensor">
    <div class="tmp">25°</div>
    <div class="vl">65%</div>
  </div>
  <div class="block-info">
    <a class="b-link b-link_turnoff" href="<%= edit_sensor_url(sensor) %>"><i class="ico ico_type_turnoff"></i></a>
    <span class="block-info-text"><strong><%= sensor.name %></strong><span class="razr"></span></span>
  </div>
</div>