<% if @sensors.count > 0 %>
  <% @sensors.each do |sensor| %>
    <%= render :partial => 'sensor', :locals => {:sensor => sensor} %>
  <% end %>
<% else %>
  Вы не добавили ни один датчик. <%= link_to "Добавить?", new_sensor_url %>
<% end %>


