
<div class="tabs">
  <div class="tabs__header">
    <div class="tabs__header-menu">
      <span class="tabs__header-title"><%= @sensor.name %></span>
      <ul class="nav">
        <li><a href="<%= edit_sensor_url(@sensor) %>">Настройка</a></li>
      </ul>
    </div>
  </div>
</div>