.c_flip {
  height: 20px;
  width: 50px;
  display: block;
  position: relative;
  cursor: pointer;
  margin: 0 auto;
  .bgf {
    height: 20px;
    width: 50px;
    display: block;
    position: relative;
    overflow: hidden;
  }
  .bg {
    height: 20px;
    width: 100px;
    background: url(/assets/sl.bg.png) 0 0 no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .handle {
    height: 26px;
    width: 26px;
    display: block;
    position: absolute;
    top: -2px;
    left: 36px;
    background: url(/assets/hand.png) 0 0 no-repeat;
  }
  &.on {
    .bg {
      left: -50px;
    }
    .handle {
      left: -11px;
    }
  }
}