// Place all the styles related to the scripts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.block-script-wrap.mini {
  width: 364px !important;
}

.block-script {
  background: none repeat scroll 0 0 #F6F6F6;
  border-radius: 3px 3px 0 0;
  padding: 30px 20px 20px 20px;
  font-size: 14px;
  line-height: 24px;
  .line {
    margin-bottom: 10px;
  }
  img {
    vertical-align: -2px;
    margin-left: 5px;
  }
}

.checks_juicy {
  padding: 4px 0 0 0;
  input[type="checkbox"] {margin-left: 10px;&:first-child{margin-left: 0;}}
}

.te {
  float: left;
  min-width:40px;
  padding: 0 20px 0 20px;
  &:first-child {
    padding: 0px;
  }
}

.btn_sel_box {
  float: left;
  position: relative;
  margin: -11px 0 0 0;
  &.open .content {
    display: block;
  }
  .btn_menu {
    padding: 9px 20px;
    .label_content .option {
      margin: 1px 0 0 0;
      img {
        float: left;
        margin: -3px 6px 0 0;
      }
    }
  }
  .content {
    display: none;
    position: absolute;
    top: 34px;
    left: 0px;
    z-index: 5000;
    background: linear-gradient(to bottom, #FFFFFF 1%, #F4F4F4 100%) repeat scroll 0 0 transparent;
    border: 1px solid #E1E1E1;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px #E0E0E0;
    color: #666666;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    //padding: 9px 30px;
    .option {
      border-bottom: 1px solid #E1E1E1;
      padding: 9px 30px;
      white-space: nowrap;
    }
  }
}