// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.b-input.error {
  border:1px solid #900;
  -webkit-box-shadow:0px 0px 5px rgba(255, 0, 0, 0.3);
  -moz-box-shadow:0px 0px 5px rgba(255, 0, 0, 0.3);
  box-shadow:0px 0px 5px rgba(255, 0, 0, 0.3);
}
.b-label-register {
  display: block;
  float: left;
  margin: 5px 0 0;
  a {
    text-decoration:underline;
    &:hover {text-decoration:none;}
  }
}

p.error_description {
  background: none repeat scroll 0 0 #FFFFFF;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  left: 100%;
  margin: 0 0 0 10px;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  width: 148px;
}
.account__exit .ico_type_exit {
  margin:-3px 0 0;
}