<div class="ctr">
  <span class="btn-group">
    <a href="<%= root_url %>" class="btn-group__item btn-group__item_active">Устройства</a>
    <a href="" class="btn-group__item">Данные</a>
  </span>
</div>

<% if @cams.count > 0 %>
  <h3 class="index_h3">Видеокамеры</h3>
  <div class="index_carusel">
    <% if @cams.count > 3 %>
    <div class="arrs">
      <a href="" class="l"><img src="/assets/str.l.png" alt="" /></a>
      <a href="" class="r"><img src="/assets/str.r.png" alt="" /></a>
    </div>
    <% end %>
    <div class="wrap">
      <div class="w">
      <% @cams.each do |cam| %>
        <%= render :partial => 'camera/camera', :locals => {:cam => cam, :mini => 'mini'} %>
      <% end %>
      </div>
    </div>
  </div>
<% end %>


<% if @sensors.count > 0 %>
  <h3 class="index_h3">Датчики температуры</h3>
  <div class="index_carusel">
    <% if @sensors.count > 3 %>
    <div class="arrs">
      <a href="" class="l"><img src="/assets/str.l.png" alt="" /></a>
      <a href="" class="r"><img src="/assets/str.r.png" alt="" /></a>
    </div>
    <% end %>
    <div class="wrap">
      <div class="w">
      <% @sensors.each do |sensor| %>
        <%= render :partial => 'sensors/sensor', :locals => {:sensor => sensor, :mini => 'mini'} %>
      <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if @outlets.count > 0 %>
  <h3 class="index_h3">Розетки</h3>
  <div class="index_carusel">
    <% if @outlets.count > 3 %>
    <div class="arrs">
      <a href="" class="l"><img src="/assets/str.l.png" alt="" /></a>
      <a href="" class="r"><img src="/assets/str.r.png" alt="" /></a>
    </div>
    <% end %>
    <div class="wrap">
      <div class="w">
      <% @outlets.each do |outlet| %>
        <%= render :partial => 'outlets/outlet', :locals => {:outlet => outlet, :mini => 'mini'} %>
      <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if @scripts.count > 0 %>
  <h3 class="index_h3">Сценарии</h3>
  <div class="index_carusel big">
    <% if @scripts.count > 3 %>
    <div class="arrs">
      <a href="" class="l"><img src="/assets/str.l.png" alt="" /></a>
      <a href="" class="r"><img src="/assets/str.r.png" alt="" /></a>
    </div>
    <% end %>
    <div class="wrap">
      <div class="w">
      <% @scripts.each do |script| %>
        <%= render :partial => 'scripts/script', :locals => {:script => script, :mini => 'mini'} %>
      <% end %>
      </div>
    </div>
  </div>
<% end %>