<div class="ftr">
  <div class="case">
    <div class="case__inner">
      <div class="ftr__menu">
        <a class="b-link b-link_ftr" href="#">О проекте</a>
        <a class="b-link b-link_ftr" href="#">Вопросы и ответы</a>
        <a class="b-link b-link_ftr" href="#">Условия использования</a>
        <a class="b-link b-link_ftr" href="#">Конфиденциальность </a>
        <a class="b-link b-link_ftr" href="#">Телефоны и адреса</a>
      </div>
      <div class="ftr__social">
        <a class="b-link" href="#"><i class="ico ico_type_fb"></i></a>
        <a class="b-link" href="#"><i class="ico ico_type_vk"></i></a>
        <a class="b-link" href="#"><i class="ico ico_type_tw"></i></a>
      </div>
      <div class="ftr__company">
        © 2012-2013 ООО «ХоумДжет». Все права защищены
      </div>
    </div>
  </div>
</div>