<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title></title>
  <%= stylesheet_link_tag "application" %>
  <!--[if lt IE 8]><link rel="stylesheet" href="/assets/style.ie.css" /><![endif]-->
  <!--[if lt IE 7]><script type="text/javascript" src="/assets/pngfix.js"></script><![endif]-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">