<div class="hdr">
  <div class="case line">
    <div class="case__inner line">
      <div class="logo">
        <a href="/"><img src="/assets/logo.png" alt=""></a>
      </div>
      <div class="account">
        <div class="account__name">
          <div class="account__name-foto"><a href="<%= user_url %>"><img src="/assets/user.png" alt=""></a></div>
          <a class="account__name-text" href="<%= user_url %>"><%= @user.full_name %></a>
        </div>
        <div class="account__exit">
          <a class="account__name-text" href="<%= logout_url %>"><i class="ico ico_type_exit"></i></a>
          <%= link_to "Выйти", logout_url, class: 'account__name-text' %>
        </div>
      </div>
    </div>
  </div>
</div>