<div class="main__list">
  <a class="list-link list-link_top list-link_bold">Настройки</a>
  <% active = (request.url == user_url) || (request.url == secure_url) || (request.url == user_phone_url) %>
  <a class="list-link list-link_accord<%= '-active' if active %>" href="<%= user_url %>">Учётная запись</a>
</div>
<div class="main__list-bg">

</div>