<div class="main__list">
  <a class="list-link list-link_top list-link_bold">Температура</a>
  <% sensors = @user.sensors %>
  <% sensors.each do |sensor| %>
    <% if @sensor && !@sensor.id.blank? %>
      <% active = (request.url == sensor_url(sensor)) || (request.url == edit_sensor_url(sensor)) %>
    <% end %>
    <a class="list-link list-link_accord <%= 'list-link_accord-active' if active %>" href="<%= sensor_url(sensor) %>"><%= sensor.name %><i class="ico ico_type_round"></i></a>
  <% end %>
  <% active = (request.url == new_sensor_url) %>
  <a class="list-link list-link_accord<%= '-active' if active %>" href="<%= new_sensor_url %>">Добавление нового датчика</a>
</div>
<div class="main__list-bg">

</div>