<div class="main__sidebar">
  <% active = (request.url == root_url) %>
  <div class="main__sidebar-block main__sidebar-block-fst <%= 'main__sidebar-active-black' if active  %>">
    <a class="main__sidebar-link" href="<%= root_url %>"><i class="ico ico_type_review"></i><span class="main__sidebar-text">Обзор</span></a>
  </div>
  <% active = (request.url == cams_url) || (request.url == new_cam_url) %>
  <% if @camera && !@camera.id.blank? %>
    <% active = (request.url == edit_cam_url(@camera.id)) || (request.url == cam_url(@camera.id)) %>
  <% end %>
  <div class="main__sidebar-block <%= 'main__sidebar-active-black' if active  %>">
    <a class="main__sidebar-link" href="<%= cams_url %>"><i class="ico ico_type_camera"></i><span class="main__sidebar-text">Камеры</span></a>
  </div>
  <% active = (request.url == sensors_url) || (request.url == new_sensor_url) %>
  <% if @sensor && !@sensor.id.blank? %>
    <% active = (request.url == edit_sensor_url(@sensor.id)) || (request.url == sensor_url(@sensor.id)) %>
  <% end %>
  <div class="main__sidebar-block <%= 'main__sidebar-active-black' if active  %>">
    <a class="main__sidebar-link" href="<%= sensors_url %>"><i class="ico ico_type_temp"></i><span class="main__sidebar-text">Температура</span></a>
  </div>
  <% active = (request.url == outlets_url) || (request.url == new_outlet_url) %>
  <% if @outlet && !@outlet.id.blank? %>
    <% active = (request.url == edit_outlet_url(@outlet.id)) || (request.url == outlet_url(@outlet.id)) %>
  <% end %>
  <div class="main__sidebar-block <%= 'main__sidebar-active-black' if active  %>">
    <a class="main__sidebar-link" href="<%= outlets_url %>"><i class="ico ico_type_power"></i><span class="main__sidebar-text">Питание</span></a>
  </div>
  <% active = (request.url == scripts_url) || (request.url == new_script_url) %>
  <% if @script && !@script.id.blank? %>
    <% active = (request.url == edit_script_url(@script.id)) || (request.url == script_url(@script.id)) %>
  <% end %>
  <div class="main__sidebar-block <%= 'main__sidebar-active-black' if active  %>">
    <a class="main__sidebar-link" href="<%= scripts_url %>"><i class="ico ico_type_script"></i><span class="main__sidebar-text">Сценарии</span></a>
  </div>
  <% active = (request.url == user_url) || (request.url == user_phone_url) || (request.url == secure_url) %>
  <div class="main__sidebar-block main__sidebar-block-lst <%= 'main__sidebar-active-black' if active  %>">
    <a class="main__sidebar-link" href="<%= user_url %>"><i class="ico ico_type_settings"></i><span class="main__sidebar-text">Настройки</span></a>
  </div>
</div>