<div class="main__list">
  <a class="list-link list-link_top list-link_bold">Сценарии</a>
  <% scripts = @user.scripts %>
  <% scripts.each do |script| %>
    <% if @script && !@script.id.blank? %>
      <% active = (request.url == script_url(script)) || (request.url == edit_script_url(script)) %>
    <% end %>
    <a class="list-link list-link_accord <%= 'list-link_accord-active' if active %>" href="<%= script_url(script) %>"><%= script.name %></a>
  <% end %>
  <% active = (request.url == new_script_url) %>
  <a class="list-link list-link_accord<%= '-active' if active %>" href="<%= new_script_url %>">Добавление нового сценария</a>
</div>
<div class="main__list-bg">

</div>