<div class="main__list">
  <a class="list-link list-link_top list-link_bold">Видеонаблюдение</a>
  <% cams = @user.cams %>
  <% cams.each do |cam| %>
    <% if @camera && !@camera.id.blank? %>
      <% active = (request.url == cam_url(cam)) || (request.url == edit_cam_url(cam)) %>
    <% end %>
    <a class="list-link list-link_accord <%= 'list-link_accord-active' if active %>" href="<%= cam_url(cam) %>"><%= cam.name %><i class="ico ico_type_round"></i></a>
  <% end %>
  <% active = (request.url == new_cam_url) %>
  <a class="list-link list-link_accord<%= '-active' if active %>" href="<%= new_cam_url %>">Добавление новой камеры</a>
</div>
<div class="main__list-bg">

</div>