<div class="main__list">
  <a class="list-link list-link_top list-link_bold">Розетки</a>
  <% outlets = @user.outlets %>
  <% outlets.each do |outlet| %>
    <% if @outlet && !@outlet.id.blank? %>
      <% active = (request.url == outlet_url(outlet)) || (request.url == edit_outlet_url(outlet)) %>
    <% end %>
    <a class="list-link list-link_accord <%= 'list-link_accord-active' if active %>" href="<%= outlet_url(outlet) %>"><%= outlet.name %><% if outlet.state %><i class="ico ico_type_round"></i><% end %></a>
  <% end %>
  <% active = (request.url == new_outlet_url) %>
  <a class="list-link list-link_accord<%= '-active' if active %>" href="<%= new_outlet_url %>">Добавление новой розетки</a>
</div>
<div class="main__list-bg">

</div>