<%= render :partial => 'layouts/head' %>

<div class="container">

  <%= render :partial => 'layouts/header' %>

  <div class="cnt">
    <div class="case">
      <div class="case__inner line">
         <div class="main line">

           <%= render :partial => 'layouts/sidebar' %>

           <%= render :partial => "layouts/sidebar#{@sidebar}" %>

           <div class="main__block">
             <div class="main__block-inside">
              <%= yield %>
             </div>
           </div>

         </div>
      </div>
    </div>
  </div>

</div>

<%= render :partial => 'layouts/foot' %>
